@mixin blogLogo ($name) {
    background-image: url('../'+$name+'/icon-logo.png');
    // background-image:image-set( url('') 1x, url('') 2x, url('') 3x );
}

@mixin List ($name) {
    background-image: url('../icon/'+$name+'.png');
    // background-image:image-set( url('') 1x, url('') 2x, url('') 3x );
}
 // 头部导航

.headerBox{
	max-width: 700px;
    // min-width: 320px;
    padding: 72px 32px;
    color: #c9cacc;
	text-align: left;
	margin: 0 auto;

	.header {
		width: 100%;
		font-size: 12px;
		margin: 0 auto 3rem;
	
		.logo {
			@include blogLogo("icon");
			background-size: contain;
			display: inline-block;
			height: 50px;
			width: 47px;
			margin-right: 20px;
		}
	
		.title {
			font-size: 13px;
			display: inline-block;
			text-align: left;
			line-height: 1;
			margin-bottom: 10px;
			height: 32px;
	
			h1 {
				margin-bottom: 8px;
			}
	
			// navlink
			.navlink {
				li {
					display: inline-block;
					vertical-align: middle;
					margin-right: 15px;
					border-right: 1px dotted #2bbc8a;
	
					&:last-child {
						border-right: 0;
					}
	
					a {
						text-decoration: none;
						color: #28a879;
						margin-right: 15px;
	
						&:hover {
							text-decoration: underline;
						}
					}
	
				}
			}
	
		}
	
		// 右边 导航列表
		.list {
			display: none;
			@include List('list');
			background-size: contain;
			vertical-align: top;
			height: 27px;
			width: 27px;
		}
	
	
	}
}
// 隐藏的导航
.navlink_470 {
	display: none;
	text-align: center;
	margin-bottom: 48px;
	li {
		margin-top: 20px;
		a {
			text-decoration: none;
			color: #28a879;
			margin-top: 30px;
			margin-right: 15px;
		}
	}
}

  


// 底部
.footer {
	width: 100%;
	height: 45px;
	margin-top: 70px;
	.footer_box {
		margin: 0 auto;
		max-width: 700px;
		min-width: 355px 	;
		padding: 0 20px;
		display: flex;
		justify-content:space-between ;

		.Copyright {
			color: #666666;
			font-size: 11px;
			line-height: 2;

		}
		.navlink {
			li {
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
				border-right: 1px solid #4a4a4a;

				&:last-child {
					border-right: 0;
				}

				a {
					// text-decoration: none;
					color: #666666;
					font-size: 11px;
					margin-right: 15px;

					&:hover {
						color: #999;
					}
				}



			}
		}
	}

}
@media screen and (max-width:557px) {
	.footer {
		.navlink {
			display: block;
			text-align: center;
		}
		.footer_box {
			display: block;
			text-align: center;
			.navlink {
				li {
					&:first-child {
						margin-left: 32px;
					}
				}

			}
		}

	}
}
@media screen and (max-width:500px) {
	.headerBox{
		padding-bottom: 0px !important;
	}
   .navlink {
	   display: none;
   }
   .title {
	   min-width: 100px;
	   vertical-align: top;
	   margin-bottom: 0;
	   margin-top: 8px;
   }
   .list {
	   float: right;
	   display: block !important;
	   margin-top: 4px;
   }

   .navlink_470 {
	   display: block !important;
   }

}
@media screen and (max-width:350px){
	.headerBox{
	
		padding:40px 20px !important;
	}
}